@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: Tox;
  src: url("/systems/ratasenlasparedes/fonts/Tox/Tox.ttf");
}

/* Global styles */
.window-app {
  font-family: "Crimson", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/*test cameras*/
.camera-view {
  background-image: none;
  background: #fafafa;
  border: 0px;
}

.user-camera {
  -webkit-box-shadow: 0 0 1px #222;
  box-shadow: 0 0 1px #222;
}

.player-name {
  background-color: #fafafa !important;
  border: 0px !important;
  color: black;
  font-family: Tox;
}

#player-list .player-name {
  background-color: transparent !important;
  color: white !important;
}

/* board */
#board {
  background-color: black;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to ratasenlasparedes sheets */
.ratasenlasparedes .window-content {
  background-image: url("/systems/ratasenlasparedes/img/back.jpg");
  background-size: 100%;
  font-family: Tox;
}

.ratasenlasparedes .basic-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 0;
  -ms-flex: 0 0;
  flex: 0 0;
  margin-bottom: 10px;
  background-image: url("/systems/ratasenlasparedes/img/clip.png");
  background-size: 5%;
  background-repeat: no-repeat;
}

.ratasenlasparedes .basic-data .basic-text-fields {
  /*     justify-self: stretch; */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  /* border: solid 2px red; */
}

.ratasenlasparedes .basic-data .basic-text-fields label {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 10px;
}

.ratasenlasparedes .basic-data .basic-text-fields input {
  border: 0;
  border-bottom: dotted 1px;
}

.ratasenlasparedes .basic-data img {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 10px;
}

.ratasenlasparedes .attribute-section {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

.ratasenlasparedes .attribute-section .profile-img {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 12px;
  margin-right: 12px;
  border: solid 5px #efddc8;
  border-bottom: solid 15px #efddc8;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.ratasenlasparedes .attribute-section .attributes {
  background-image: url("/systems/ratasenlasparedes/img/paperb.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px 25px 25px 25px;
}

.ratasenlasparedes .attribute-section .attributes .attribute {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.ratasenlasparedes .attribute-section .attributes .attribute input {
  -webkit-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
  justify-self: flex-start;
  border: 0;
  border-bottom: dotted 1px;
  text-align: center;
}

.ratasenlasparedes .item-form {
  font-family: "Crimson", sans-serif;
}

.ratasenlasparedes .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ratasenlasparedes .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.ratasenlasparedes .sheet-header .abilities {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  justify-items: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ratasenlasparedes .sheet-header .abilities .ability {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.ratasenlasparedes .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ratasenlasparedes .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ratasenlasparedes .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ratasenlasparedes .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.ratasenlasparedes .sheet-body,
.ratasenlasparedes .sheet-body .tab,
.ratasenlasparedes .sheet-body .tab .editor {
  height: 100%;
}

.ratasenlasparedes .tox .tox-editor-container {
  background: #fff;
}

.ratasenlasparedes .tox .tox-edit-area {
  padding: 0 8px;
}

.ratasenlasparedes .ratas-dice-roller {
  background-color: red !important;
}

.ratasenlasparedes .ratas-dice-roller button {
  width: 80px !important;
  min-width: 80px;
  height: 40px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.ratasenlasparedes .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.ratasenlasparedes .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.ratasenlasparedes .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.ratasenlasparedes .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.ratasenlasparedes .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.ratasenlasparedes .items-list .item-header {
  font-weight: bold;
}

.ratasenlasparedes .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.ratasenlasparedes .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.ratasenlasparedes .items-list .item img {
  display: block;
}

.ratasenlasparedes .items-list .item-name {
  margin: 0;
}

.ratasenlasparedes .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

/*TinyMCE*/
.editor {
   min-height: 35px;
}
.tox-toolbar__primary, .tox-toolbar-overlord {
    --height:100% !important;
    --display:block;
    background-color: rgba(0,0,0,0) !important;
}
.tox-tinymce {
    height:100% !important;
    display:block;

}
.tox .tox-editor-container {
      background-color: rgba(0,0,0,0) !important;
}
.tox .tox-edit-area {
    padding: 0 8px;
    position: inherit;
    min-height: 20px;
    height: 200px;
}

