@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: Tox;
    src: url("/systems/ratasenlasparedes/fonts/Tox/Tox.ttf");
  }


$font-primary: 'Crimson', sans-serif;
$font-secondary: 'Crimson', sans-serif;
