.window-content {
  background-image: url("/systems/ratasenlasparedes/img/back.jpg");
  background-size: 100%;
  font-family: Tox;
}
.basic-data {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0;
  margin-bottom: 10px;
  background-image: url("/systems/ratasenlasparedes/img/clip.png");
  background-size: 5%;
  background-repeat: no-repeat;
  .basic-text-fields {
/*     justify-self: stretch; */    
    flex-grow: 1;
    display:flex;
    justify-content:flex-end;
    /* border: solid 2px red; */
    label {
      flex-grow:0;
      align-self: center;
      padding-right: 10px;
    }
    input {
      border: 0;
      border-bottom: dotted 1px;
    }
  }
  img {
    flex-grow: 0;
    margin-left: 10px;;
  }
}

.attribute-section {
  justify-content: space-between;
  flex-grow: 0;
  margin-bottom: 10px;;

  .profile-img {
    flex-grow: 0;
    margin-left: 12px;
    margin-right: 12px;
    border: solid 5px #efddc8;
    border-bottom: solid 15px #efddc8;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  }
  .attributes {
    background-image: url("/systems/ratasenlasparedes/img/paperb.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px 25px 25px 25px;
    .attribute {
      flex:0;
      input {
        flex-grow: 0.5;
        justify-self: flex-start;
        border: 0;
        border-bottom: dotted 1px;
        text-align: center;
      }
    }

  } 
}








.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 0 210px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }
  .abilities {
      flex: 1;
      justify-items: flex-start;
      align-self: flex-start;
      .ability {
          flex:0;
          align-self: stretch;
      }
  }
  .logo-img {
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
