<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
<!--    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>-->
    
    <div class="chat-roll-content flexrow flex-between" style="justify-content: space-around; font-family: tox;">
        <div class="chat-roll-main-explain" style="font-size:80px;flex-grow:0;min-width:100px;height:100px; text-align: center; line-height: 100px; margin: 10px 0;outline: none;
        border-color: black; box-shadow: 0 0 15px black;background-image:url('systems/ratasenlasparedes/img/chat/blood5.png'); background-size:cover;">{{ total }}</div>
    </div>
    
    
    
{{{tooltip}}}     
    
</div>
