<div class="ratas-simple-roller">
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3-3" style="width:50px;">-3</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3-2" style="width:50px;">-2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3-1" style="width:50px;">-1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3" style="width:50px;">d3</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3+1" style="width:50px;">+1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3+2" style="width:50px;">+2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d3+3" style="width:50px;">+3</button>
    
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6-3" style="width:50px;">-3</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6-2" style="width:50px;">-2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6-1" style="width:50px;">-1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6" style="width:50px;">d6</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6+1" style="width:50px;">+1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6+2" style="width:50px;">+2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="d6+3" style="width:50px;">+3</button>
    
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6-3" style="width:50px;">-3</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6-2" style="width:50px;">-2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6-1" style="width:50px;">-1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6" style="width:50px;">2d6</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6+1" style="width:50px;">+1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6+2" style="width:50px;">+2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="2d6+3" style="width:50px;">+3</button>
    
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6-3" style="width:50px;">-3</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6-2" style="width:50px;">-2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6-1" style="width:50px;">-1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6" style="width:50px;">3d6</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6+1" style="width:50px;">+1</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6+2" style="width:50px;">+2</button>
    <button class="{{rollClass}}" data-actor-id="{{actorId}}" data-formula="3d6+3" style="width:50px;">+3</button>
</div>
